<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">
        {{#each restaurants}}
        <a href="/restaurants/{{this.id}}" class="text-secondary">
          <div class="card mb-3">
            <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i> {{this.category}}
              </div>

              <span class="badge badge-pill badge-danger font-weight-normal">
                {{this.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>
            </div>
            <div class="card-footer text-right">
              <a href="#" class="text-secondary px-2">Edit</a>
              <a href="#" class="text-secondary px-2">Detail</a>
              <button type="button" class="btn btn-danger">Delete</button>
            </div>
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>